/* ----- ESTILOS BASE ----- */

/*  Importación de fuentes desde Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

/* Normalizando estilos*/
* {
    margin              : 0;
    padding             : 0;
    box-sizing          : border-box;
}

:root {
    /*  Variables del proyecto  */

    /*  Anchura máxima del contenido en desktop */
    --max-width : 860px;

    /*  Colores  */
    --title-color       : #333333;
    --subtitle-color    : #4F4F4F;
    --footer-color      : #BDBDBD;
    --white-color       : #FFFFFF;


    /*  Fuentes  */
    --logo-font         : 'Inconsolata', sans-serif;
    --body-font         : 'Space Mono', monospace;
    --footer-font       : 'Montserrat', sans-serif;

      /*  Tamaños  */
    --header-height       : 3rem;
    --logo-size           : 1.5rem;
    --title-font-size     : 2.7rem;
    --subtitle-font-size  : 1.125rem;

}

@media screen and (min-width: 1024px) {

    /*  Variables de tamaño en desktop  */
    :root {
        --header-height       : 4rem;
        --title-font-size     : 4rem;
        --subtitle-font-size  : 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    :root {
        --max-width : 1200px;
    }
}

body {
    display             : flex;
    flex-direction      : column;
    min-height          : 100vh;
}

.content-wrapper {
    width               : calc(100% - 2rem);
    max-width           : var(--max-width);
    margin-left         : 1rem;
    margin-right        : 1rem;
}

@media screen and (min-width: 1024px) {
    .content-wrapper {
        width           : 100%;
        margin-left     : auto;
        margin-right    : auto;
    }
}

.main-header {
    display             : flex;
    width               : 100%;
    height              : var(--header-height);
    justify-content     : flex-start;
    align-items         : flex-end;
}


.main-header p {
    font-family         : var(--logo-font);
    font-size           : var(--logo-size);
    font-weight         : 700;
    letter-spacing      : -0.08em;
}

main {
    display             : flex;
    justify-content     : center;
    align-items         : center;
}

main .content{
    display             : grid;
    gap                 : 3rem;
    width               : 100%;
    font-family         : var(--body-font);
    padding             : 4rem 0;
}

@media screen and (min-width: 1024px) and (max-height: 900px) {
    main .content {
        grid-template-columns   : 1fr 1fr;
        padding                 : 5rem 0;
    }
}

main .img-container {
    display             : flex;
    flex-direction      : column;
    justify-content     : center;
    align-items         : center;
}

main .img-container img {
    width       : 75%;
}

@media screen and (min-width: 1024px)  and (max-height: 900px){
    main .img-container {
        justify-content     : flex-start;
        align-items         : flex-start;
    }

}

main .container {
    display             : flex;
    flex-direction      : column;
    gap                 : 3rem;
}

main .container h1 {
    font-size           : var(--title-font-size);
    font-weight         : 700;
    line-height         : 70px;
    color               : var(--title-color);
    letter-spacing      : -0.035em;
}

main .container p {
    font-size           : var(--subtitle-font-size);
    font-weight         : 400;
    max-width           : 400px; 
    color               : var(--subtitle-color);
}

main .container .main-button {
    display             : inline-block;
    padding             : 1.25rem 1.75rem;
    background-color    : var(--title-color);
    text-decoration     : none;
    font-size           : 0.875rem;
    font-weight         : 700;
    color               : var(--white-color);
}

main .container .main-button:hover {
    background-color    : var(--white-color);
    color               : var(--title-color);
    border              : 1px solid var(--title-color);
}

footer {
    display             : flex;
    justify-content     : center;
    align-items         : center;
    width               : 100%;
    height              : var(--header-height);
    margin-top          : auto;
}

footer p {
    color               : var(--footer-color);
    font-family         : var(--footer-font);
    font-size           : 14px;
    font-weight         : 400;
}

footer span {
    font-weight         : 700;
    text-decoration     : underline;
}
